flowboxchild:selected {
	background-color: unset;
}

.tllt-cp-timer-text {
    font-size: 48pt;
}

#tllt-cp-toasting-progress > trough {
	min-height: 5px;
}

#tllt-cp-toasting-progress > trough > progress {
	min-height: 5px;
}
