flowboxchild:selected {
	background-color: unset;
}

.tllt-cp-timer-text {
	font-size: 28pt;
}

.tllt-cp-timer-label {
	font-size: 14pt;
}

#temperature-scale {
	font-size: 14pt;
}

#tllt-cp-toasting-progress > trough {
	min-height: 5px;
}

#tllt-cp-toasting-progress > trough > progress {
	min-height: 5px;
}
